$arrow-height: 45px;
$light-gray: #f2f2f2;
$font-gray: #c0c0c0;
$light-red: #E06565;
$helper-font: #606060;
$helper-bg: #88A2DC;

#awesome-form {
	color: $font-gray;
	font-size: 12px;
	fieldset {
		border: none;
	}
	.clear { clear:both;}
	ol li {
		line-height: 20px;
		list-style: none;
		padding: 5px 10px;
		margin-left: 0px;
	}
	ol ol li {
		background: none;
		border: none;
		float: left;
	}
	.field_with_errors {
		display: inline;
	}
	.field_with_errors .message {
		
	}
	#validation-error {
		display: block;
		background: $light-red;
		color: #fff;
		width: 300px;
		margin-top: -4px;
		padding: 2px;
	}
	#data-entry {
		margin-bottom: 10px;
	}
	#label {
		float: left;
		padding-top: 5px;
	}
	#field {
		float: left;
	}
	.helper {
		display: block;
		width: 300px;
		background: $light-gray;
		color: $helper-font;
		padding: 2px 2px 4px 2px;
	}
	label {
	//		float: left;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		width: 120px;
		color: #000;
		text-align: right;
		margin-right: 10px;
		padding-top: 3px;
	}
	input,
	textarea {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: $font-gray 1px solid;
		background-color:#FFFFFF;
		color:#999;
		font-size: 18px;
		width: 300px;
		line-height: 30px;
	}
	button {
		border: none;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		color: #ffffff;
		font-size: 12px;
		padding: 7px 15px;
		font-weight: normal;
		text-shadow: none;
	}
	button:hover,
	button.sign-up:hover {
		background: #000;
		cursor: pointer;
	}
	button.sign-up {
		margin: 0 0 0 130px;
	}
}